[alias]
	aliases = config --get-regexp alias
  ac = !git add . && git commit -m
  amend = commit --amend --reuse-message=HEAD
	b = branch
  branches = branch --all
  c = clone --recursive
  ca = !git add --all && git commit --all --verbose
  co = checkout
	f = fetch --all
  m = merge
	p = push
	pl = pull
	pr = pull-request
	r = remote
	remotes = remote --verbose
	s = status --short --branch
	sl = shortlog --summary --numbered
	t = log --oneline --decorate --all --graph
	tags = tag --list

	# Show the diff between the latest commit and the current state.
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat ':(exclude)*lock*'"

	# Remove branches that have already been merged with master
	# a.k.a. ‘delete merged’.
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

	# Switch to a branch, creating it if necessary.
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

	# View the SHA, description, and history graph of the latest 30 commits.
	l = log --format='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --no-merges -n 30

	# Interactive rebase with the given number of latest commits.
	reb = "!r() { git rebase -i HEAD~$1; }; r"

	# Remove the old tag with this name and tag the latest commit with it.
	retag = "!r() { git tag -d $1 && git push origin :refs/tags/$1 && git tag $1; }; r"

[apply]
	whitespace = fix

[branch]
  sort = -comitterdate

[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	frag = magenta
	meta = yellow
	new = green
	old = red

[color "status"]
	added = green
	branch = green
	changed = yellow
	header = white dim
	untracked = cyan

[commit]
	gpgsign = true

[core]
	ignoreCase = false
	excludesfile = ~/.gitignore
	trustctime = false
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space
  untrackedCache = true

[credential]
	helper = osxkeychain

[diff]
	algorithm = patience
  renames = copies

[github]
	user = kexhest

[merge]
	log = true

[push]
	default = simple
	followTags = true

[user]
	name = Magnus Bergman
	email = karlmagnusbergman@gmail.com

	signingkey =
